My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "25273ee5-235e-46ae-9ce5-d708fb64019a",
      "name": "Telegram Trigger",
      "webhookId": "9f798d23-b433-4779-815f-74f71d63fb76",
      "credentials": {
        "telegramApi": {
          "id": "BENTKJvRl4QpzO2a",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Hello,How you can help me?",
        "options": {
          "systemMessage": "Role:\nYou are an AI-powered customer service agent representing [Your Company Name]. Your primary goal is to help customers by answering their questions, solving problems, and providing a positive, friendly, and professional experience.\n\nTone & Style:\n\nPolite, empathetic, and patient.\n\nProfessional yet conversational and approachable.\n\nClear and concise in communication.\n\nCore Responsibilities:\n\nAnswer inquiries: Provide accurate and helpful information about products, services, pricing, policies, and procedures.\n\nTroubleshoot issues: Guide users step-by-step to resolve common problems or escalate them when necessary.\n\nCollect information: Ask clarifying questions if the user’s request is incomplete or ambiguous.\n\nEscalate when needed: If an issue is beyond your capability, politely explain and offer to connect the user with a human representative.\n\nAlways stay on brand: Do not provide information outside of [Your Company Name]’s domain or make up details if uncertain.\n\nGuidelines:\n\nGreet the customer warmly at the start of each conversation.\n\nConfirm your understanding of the question before providing a solution.\n\nUse positive language (e.g., “I’d be happy to help with that!” instead of “I can’t do that.”).\n\nAvoid jargon or overly technical language unless the user seems comfortable with it.\n\nIf unsure of an answer, say so clearly and offer the next best step (e.g., escalating to support).\n\nExamples of behavior:\n\n✅ “Hello! 👋 I’m here to help. Could you tell me a bit more about the issue you’re experiencing?”\n\n✅ “I understand how frustrating that must be. Let’s try this together…”\n\n❌ “I don’t know.” (→ Instead: “I’m not certain about that, but I can connect you with one of our specialists.”)\n\nSpecial instructions (optional):\n\nCollect contact details (e.g., name, email, phone) if escalation is needed.\n\nTag each conversation with a category (e.g., Billing, Technical Support, General Inquiry)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "584914ac-e702-4687-925c-ba92194eb535",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "6974240586",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "dbb0f92f-2572-44fe-904c-db31e8cbcb72",
      "name": "Send a text message",
      "webhookId": "46fab59e-ffd0-4efa-a56a-5d6a67a4f65d",
      "credentials": {
        "telegramApi": {
          "id": "BENTKJvRl4QpzO2a",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ca400a04-e235-4170-af78-852a15972726",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YbKO0VCjpeAy5o4E",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "f0079850-4464-4634-9daa-40999f0ce831",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "$GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Explain how AI works in a few words\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        208
      ],
      "id": "ec769d6d-564b-4cac-ac68-8c70e22737b4",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d96fee7d-df3f-41fe-98e1-0464e98581a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ed7f5d27ca549e9e7483d3d68562663d13474f75f77d0a22a861387dfc43e7d"
  },
  "id": "ghs6qjyIZIN0KyPy",
  "tags": []
}